<hr/>
<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">
                    <div class="social-media">
                        <ul class="list-inline">
                            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">GIỚI THIỆU</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Về chúng tôi</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Tuyển dụng</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Liên hệ quảng cáo</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Dành cho đối tác</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> ...</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">GÓC ĐIỆN ẢNH</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Thể loại phim</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Diễn viên</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Đạo diễn</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Phim hay tháng</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> ...</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">ĐIỀU KHOẢN SỬ DỤNG</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Điều khoản chung</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Điều khoản giao dịch</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Chính sách thanh toán</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</a></li>
                        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> ...</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">CHĂM SÓC KHÁCH HÀNG</h2>
                    <p>Hotline: 1900 6017<br> Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)<br> Email hỗ trợ: hoidap.abc.cinema@gmail.com</p>

                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2023 ABC Cinema. All rights reserved.</p>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
</footer>

