@model ABC_Cinema.Models.DanhMuc
@{
    ViewBag.Title = "Delete_DM";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3 style="color: red; font-weight: bold;">Bạn quyết định xóa danh mục phim này?</h3>
<h4 style="color: red; font-weight: bold;">@Html.Raw(ViewBag.ThongBao)</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên danh mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> | @Html.ActionLink("VỀ TRANG QUẢN LÝ DANH MỤC PHIM", "Index_DM")
        </div>
    }
</div>